/*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body{
	font-family:Arial, Helvetica, sans-serif;
}
.header{
	background:url(../images/head_bg.jpg);
	margin-top: -90px;
}
.header-bottom{
	background:url(../images/head_bot.gif);
}
.wrap{
	width:100%;
	margin:0 auto;
}
.logo{
	margin: 18px 0;
	float:right;
}
/*--header-banner--*/
.header-banner{
	background: #f0f0f0;
	padding: 12px;
}
.con-text{
	border-bottom: 2px ridge #fff;
}
.grid1-img {
	float: left;
	margin-right: 10px;
}
.grid1-desc {
	float:left;
	margin-top: 10px;
}
.grid1-desc p {
	color:#555;
	font-size: 20px;
}
.indent {
	text-align: center;
}
h2{
	font-size: 30px;
	line-height: 29px;
	font-family: "Century Gothic", Helvetica, sans-serif;
	color:#a2365a;
	padding: 10px 0;
}
.preview{
	margin-top: 20px;
}
/*--content--*/
.content{
	background: #fff;
	padding: 12px;
}
.main-grids{
	padding: 12px;
}
.con-top{
	padding: 10px 0;
}
.con-top h3{
	font-size:25px;
	color:#a2365a;
	font-family: "Century Gothic", Helvetica, sans-serif;
	margin-bottom: 5px;
}
.con-top p{
	color:#555;
	font-size:13px;
	line-height: 1.5em;
}
.left-text p{
	color:#555;
	font-size:13px;
	line-height: 1.5em;
	margin: 5px 0 15px 0;
}
.bot-left{
	padding: 10px;
	box-shadow: 0 0 1px #aaa;
	margin-bottom: 10px;
}
.bot-left img{
	display: block;
}
.left-text h4{
	color: #a2365a;
	font-size:15px;
	margin: 8px 0;
	font-weight: bold;
}
span.doller{
	color:#555;
	font-size:20px;
	font-family: "Century Gothic", Helvetica, sans-serif;
	font-weight: bold;
}
.read {
	padding:5px 4px 5px;
	color: white;
	font-size: 12px;
	cursor: pointer;
	background: #a2365a url(../images/but.png);
	margin-bottom: 20px;
	border: 1px solid #a2365a;
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
}
.read:hover{
	background: rgb(155, 45, 82);
}
.padding h4, .padding1 h4, .desti-middle h4, .desti-right h4{
	color:#a2365a;
	font-family: "Century Gothic", Helvetica, sans-serif;
	margin-bottom: 5px;
	font-size:25px;	
}
.list .list-bg {
	background: rgb(252, 247, 248);
}
.list li {
	height: 26px;
	margin-bottom: 1px;
	padding: 5px 0px 0px 14px;
	font-size: 13px;
}
.list span {
	width: 21px;
	display: inline-block;
}
.list a {
	text-decoration: none;
	color: #555;
	font-weight: normal;
}
.list a:hover {
	color:#a2365a;
	font-weight: bold;
}
.link1 {
	font-size: 12px;
	line-height: 18px;
	color: #a2365a;
	font-weight: bold;
	background: url(../images/link1-bg.gif) right 8px no-repeat;
	padding-right: 7px;
	display: inline-block;
}
.link1:hover {
	color: rgb(155, 45, 82);
	text-decoration: underline;
}
.bot-img{
	float:left;
	margin: 0 10px 20px 0;
}
.bot-desc{
	width:50%;
	float:left;
}
.bot-desc p, .bot-desc1 p{
	color:#555;
	font-size:13px;
	line-height: 1.5em;
}
/*--about--*/
.about h3, .contact-top h3 {
	font-size:25px;
	color:#a2365a;
	font-family: "Century Gothic", Helvetica, sans-serif;
	padding:5px 0;
}
.about img{
	margin-bottom: 8px;
}
.about p, .contact-top p{
	color:#555;
	font-size:13px;
	line-height: 1.5em;
	margin-bottom: 10px;
}
/*--destinations--*/
.desti-text{
	width:40%;
	float:left;
	margin-right: 20px;
}
.list1 a {
	color: #555;
	font-size:13px;
}
.list1 a:hover {
	text-decoration: underline;
}
.desti-right p{
	color:#555;
	font-size:13px;
	line-height: 1.5em;
	margin-bottom: 10px;
}
/*--footer--*/
.footer-bottom{
	background: url(../images/head_bg.jpg);
	padding: 12px;
}
.copy{
	text-align: center;
}
.copy p{
	font-size:13px;
	color:#fff;
}
.copy a{
	color:#fff;
}
.copy a:hover{
	text-decoration: underline;
}
/*--contact--*/
.contact{
	padding: 12px;
}
.form textarea {
	width: 95%;
	font-size: 13px;
	margin: 5px 0 10px 0;
	border: 1px solid #f0f0f0;
	color: #555;
	background:#f0f0f0;
	-webkit-border-radius: .2em;
	-moz-border-radius: .2em;
	border-radius: .2em;
	outline: none;
	margin-bottom: 10px;
	height: 100px;
	padding: 6px;
	resize: none;
	font-family:Arial, Helvetica, sans-serif;
}
.form input[type="text"] {
	padding: 6px;
	width: 95%;
	font-size: 13px;
	margin: 5px 0 10px 0;
	border: 1px solid #f0f0f0;
	color: #555;
	background:#f0f0f0;
	-webkit-border-radius: .2em;
	-moz-border-radius: .2em;
	border-radius: .2em;
	outline: none;
	font-family:Arial, Helvetica, sans-serif;
}
.contact-left{
	margin-top: 15px;
}
.contact-add {
	margin-top: 5px;
}
.contact-left h3 {
	font-size: 18px;
	color: #a2365a;
}
.contact-left p {
	font-size: 13px;
	color: #555;
	line-height: 1.5em;
}
.contact-map {
	font-size: 13px;
}
/* GLOBALS */

/* Experiment Specific Styles */
.top {
	background: url(../images/head_bg.jpg);
	color: #fff;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	z-index: 2;
	overflow: hidden;
	height: 82px;
	font-family: 'Archivo Narrow', sans-serif;
}
.drawer {
	-webkit-transform: translate3d(0, -141px, 0);
	-moz-transform: translate3d(0, -141px, 0);
	-o-transform: translate3d(0, -141px, 0);
	transform: translate3d(0, -141px, 0);
	-webkit-transition:-webkit-transform 0.25s linear;
	-moz-transition:-moz-transform 0.25s linear;
	-o-transition:-o-transform 0.25s linear;
	transition:transform 0.25s linear;
}
.drawer.active {
	-webkit-transform: translate3d(0,129px,0);
	-moz-transform: translate3d(0,129px,0);
	-o-transform: translate3d(0,129px,0);
	transform: translate3d(0,129px,0);
}
a.menu {
	position: relative;
	z-index: 3;
	border:1px solid white;
	text-decoration: none;
	top: 2.3em;
	right: -0.4em;
	background: url(../images/head_bot.gif);
	color: #fff;
	text-transform: uppercase;
	padding: 2px 8px 3px 8px;
	border-radius: 4px;
	margin-top: 13px;
	font-size: 12px;
}
a.menu span {
	font-size:1.6em;
	vertical-align: -0.15em;
}
nav ul {
	list-style:none;
}
nav ul li a {
	display: block;
	text-decoration: none;
	background: url(../images/head_bot.gif);
	color: white;
	padding: 1em;
	border-bottom: 1px solid rgb(65, 53, 52);
	position: relative;
top: 102px;
	font-size:13px;
}
/* Fallbacks */
.no-csstransforms .top {
	position: static;
}
.no-csstransforms .drawer nav {
	display: none;
}
.no-csstransforms .drawer.active nav {
	display: block;
}
@media all and (min-width: 30em) {
	.experiment-number {
		float: left;
		margin-right: 0.9em;
		border-right: 1px solid;
		padding-right: 1em;
		padding-left: 0.9em;
		padding-bottom: 0.6em;
		margin-bottom: 0;
}
.drawer {
		-webkit-transform: translate3d(0, -201px, 0);
		-moz-transform: translate3d(0, -197px, 0);
		-o-transform: translate3d(0, -197px, 0);
		transform: translate3d(0, -197px, 0);
}
.drawer.active {
		-webkit-transform: translate3d(0,70px,0);
		-moz-transform:translate3d(0,87px,0);
		-o-transform:translate3d(0,87px,0);
		transform:translate3d(0,87px,0);
}
h1 {
		text-align: left;
}
.container {
		padding: 2.6em;
}
