/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body{
	font-family: Arial, Helvetica, sans-serif;
}
.top-hader{
	background:#A32859;
	padding: 10px 10px 7px 10px;
}
.top-header-left{
	float:left;
}
.top-header-left p,.top-header-right p{
	color:#fff;
	font-size:0.6em;
	font-family: Arial, Helvetica, sans-serif;
}
.top-header-right{
	float:right;
}
.top-header-right p a{
	color:#fff;
}
.image-slider{
	text-align:center;
}
/*----top-nav----*/
.top-nav1{
	text-align:center;
	padding: 0px 0px 10px 0px;
}
.top-nav1 ul li{
	display:inline-block;
}
.top-nav1 ul li a{
	color:#fff;
	font-size:0.8em;
	padding:0px 0px 10px 0px;	
}
/*----main-header----*/
.main-header{
	background:#453F41;
}
.logo{
	text-align:center;
	padding: 10px 0px;
}
/*---content---*/
.content {
	margin:0px 12px;
}
.grid{
	text-align:center;
}
.grid:last-child{
	margin:0px;
}
.grid img{
	-webkit-border-radius:50%;
	border: 10px solid rgb(255, 255, 255);
	cursor:pointer;
}
.grid h4,.projects h4,.about-left h4,.about-left h5,.about-right h4,.services h4{
	color:#453F41;
	font-size: 0.9em;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	display: block;
	margin: 13px 0px 10px 0px;
}
.grid a{
	background: url(../images/more-bg.png) -1px -3px;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	text-transform: uppercase;
	display: inline-block;
	height: 85px;
	width: 85px;
	margin-top: -49px;
}
.grid a:hover{
	background: url(../images/more-bg1.png) -1px -3px;
}
.grid:hover a{
	background: url(../images/more-bg1.png) -1px -3px;
}
.grids {
	padding-bottom:10px;
	border-bottom: 1px solid rgba(231, 231, 231, 0.41);
}
/*----project----*/
.project ul li{
	display:inline;
}
.project ul li a{
	float:right;
}
.project ul li p{
	float:left;
}
.project{
	border: 1px solid rgb(241, 241, 241);
	margin: 0px 0px 2% 0px;
}
.project img{
	cursor:pointer;
	text-align:center;
	margin:0 auto;
	width: 100%;
}
.projects h4{
	margin: 11px 0px 11px 0px;
}
.projects p,.projects a{
	color:#453F41;
	font-size:0.7em;
	font-family: Arial, Helvetica, sans-serif;
	display: block;
}
.projects ul{
	border-bottom: 1px solid rgba(241, 241, 241, 0.53);
	padding: 8px;
}
.readmore a,.about-right a,.service1 a{
	background:#A32859;
	color:#fff;
	padding:5px 10px;
	margin: 5px 0px;
	-webkit-transition: all .9s;
	-moz-transition: all .9s;
	-o-transition: all .9s;
	-ms-transition: all .9s;
	transition: all .9s;
	font-size:0.7em;
}
.projects {
	float: left;
	width: 100%;
	display: block;
}
.content-sidebar{
	float:right;
}
.footer{
	background: #453F41;
	padding: 10px 0px;
}
.left-footer{
	text-align:center;
}
.right-footer{
	text-align: center;
}
.right-footer p{
	color:#fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.7em;
	margin-top: 5px;
}
.right-footer p a{
	color:#eee;
}
.right-footer p a:hover{
	color:#000;
}
/*---about---*/
.about-left h4{
	margin: 13px 0px 0px 0px
}
.about-left h3{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.7em;
	color:#453F41;
}
.about-left p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.7em;
	color: rgb(155, 155, 155);
	line-height: 1.8em;
}
.about-left h5{
	margin: 10px 0px 6px 0px;
	font-size:0.9em;
}
.about-right a,.service1 a{
	font-family: Arial, Helvetica, sans-serif;
	font-size:0.8em;
	float: right;
}
.about-right img{
	cursor:pointer;
}
.about {
	padding-bottom: 20px;
}
/*---services----*/
.service1 h4{
	margin: 7px 0px 3px 0px;
	font-size:0.8em;	
}
.service1 p{
	width:100%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.7em;
	color: rgb(155, 155, 155);
	line-height: 1.8em;
	padding-bottom: 10px;
}
.service1 img{
	width:100%;
	cursor: pointer;
	padding: 1px;
}
.services,.about {
	padding-bottom: 15px;
	border-bottom: 1px solid rgba(231, 231, 231, 0.41);
}
/*---contact----*/
/*---contact----*/
/*----contact----*/
.contact {
	padding-bottom: 27px;
}
.contact-form{
	width: 95%;
}
.contact-sidebar{
	float: right;
	width: 336px;
}
.contact h3{
	color: #2C9BB6;
	font-size: 25px;
	text-transform: uppercase;
	padding: 0 0 12px 0;
}

.contact-form form span{
	display:block;
}
form span{
	font-size:0.7em;
	padding-bottom:5px;
	color: #453F41;
	font-family: Arial, Helvetica, sans-serif;
}
.contact-form form textarea,
.contact-form form input[type=submit],
.contact-form form input[type=text]{
	border: 1px solid rgb(221, 221, 221);
	padding: 5px;
	width: 100%;
	outline:none;
	color:#666;
	font-size:0.9em;
	-webkit-border-radius: 3px;
	font-family: Arial, Helvetica, sans-serif;
	-webkit-apprence:none;
}
.map iframe{
	color: #5b5b5b;
	font-family: Arial, Helvetica, sans-serif;
}	
.contact-form form input[type=submit]{
		 -moz-border-radius:3px;
		  -webkit-border-radius:3px; 
		  border-radius:3px; 
		  color:#FFFFFF !important; 
		  cursor:pointer; 
		  display:inline-block; 
		  font-size:13px; 
		  font-weight:bold; 
		  line-height:1; 
		  overflow:visible; 
		  padding:7px 10px;
		  position:relative; 
		  text-decoration:none; 
		  text-shadow:0 -1px 1px rgba(0, 0, 0, 0.25); 
		  width:auto; 
		  text-align:center; 
}
.contact-form form input[type=submit] {
	background: #A32859;
	font-family: Arial, Helvetica, sans-serif;
	font-size:0.75em;
	-webkit-apprence:none;
}


.contact-form form input[type=submit]:hover{
	background: #453F41;
	color:#FF8400;
}

form textarea{
	height: 201px;
	color: #666;
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
	-webkit-apprence:none;
}
.contact h4{
	color: #453F41;
	font-size:0.9em;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	display: block;
	margin: 19px 0px 4px 0px;
}
.contact p {
	font-family: Arial, sans-serif;
	font-size: 0.7em;
	line-height: 1.5em;
	color: rgb(150, 150, 150);
	margin-bottom: 17px;
}
/*----404-page---*/
.error-page{
	text-align:center;
	height: 523px;
	padding-top: 130px;
}
.error-page h3,.error-page h1{
		color: #453F41;
		font-size: 6em;
		font-family: Arial, Helvetica, sans-serif;
	}
.error-page h1{
	font-size:12em;
}
