/*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body{
	font-family:Arial, Helvetica, sans-serif;
}
.wrap{
	width:100%;
	margin:0 auto;
}
.header{
	border-top:5px solid #222;
	background:url(../images/body_bg3.jpg);
	padding:15px;
}
.menu{
	width:100%;
	padding:25px 0px 0px 0;
	text-align:center;
	font-family: 'Baumans', cursive;
}
.menu ul{
	list-style:none;
	padding:0px;
	margin:0px;
	display:inline;
	line-height:20px;
}
.menu ul li{
	list-style:none;
	display:inline-block;
	width:70px;
	 height:100px; 
	margin:15px 9px;
	 background:url(../images/icon_bg.png) no-repeat center top;
 }
.menu ul li a{ 
	font-size:14px;
	 font-weight:bold; 
	 color:#7C7D7D;
	 text-decoration:none; 
	 text-shadow:1px 1px #dcdcdc;
	}
.menu ul li a img{
	padding:0px; 
	width:70px; 
	height:70px;
}
/*** header-top ***/
.header_top{
	padding-bottom:55px;
}
.left_bt,a.right_bt,input.form_submit{	 
	float:left;
	color:#FFFFFF; 
	padding:8px 12px;
	margin-top:10px;
	text-align:center; 
    font-size:14px;
     font-weight:bold; 
       border            : 1px solid #a43332;
        background        : #f65644;
        background        : url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y2NTY0NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjYTNlM2UiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background        : -moz-linear-gradient(top,  #f65644 0%, #ca3e3e 100%);
        background        : -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f65644), color-stop(100%,#ca3e3e));
        background        : -webkit-linear-gradient(top,  #f65644 0%,#ca3e3e 100%);
        background        : -o-linear-gradient(top,  #f65644 0%,#ca3e3e 100%);
        background        : -ms-linear-gradient(top,  #f65644 0%,#ca3e3e 100%);
        background        : linear-gradient(top,  #f65644 0%,#ca3e3e 100%);
        filter            : progid:DXImageTransform.Microsoft.gradient( startColorstr='#f65644', endColorstr='#ca3e3e',GradientType=0 );
        color             : #fff;
        text-shadow       : 0 -1px 0 rgba(0, 0, 0, 0.4);
        box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.2) inset, 0 1px 1px rgba(255, 255, 255, 0.8) inset, 1px 2px 2px -1px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0 -1px 1px rgba(0,0,0,0.2) inset, 0 1px 1px rgba(255,255,255,0.8) inset, 1px 2px 2px -1px rgba(0,0,0,0.3);
		-webkit-box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.2) inset, 0 1px 1px rgba(255, 255, 255, 0.8) inset, 1px 2px 2px -1px rgba(0, 0, 0, 0.3);
        -moz-border-radius:5px;
          border-radius:5px;
	  -webkit-border-radius:5px;
	   -o-border-radius:5px;     
 }
 a.left_bt:hover,a.right_bt:hover,input.form_submit:hover{
 		border            : 1px solid #a43332;
        background        : #e75140;
        background        : url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U3NTE0MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjYjNlM2UiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background        : -moz-linear-gradient(top,  #e75140 0%, #cb3e3e 100%);
        background        : -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e75140), color-stop(100%,#cb3e3e));
        background        : -webkit-linear-gradient(top,  #e75140 0%,#cb3e3e 100%);
        background        : -o-linear-gradient(top,  #e75140 0%,#cb3e3e 100%);
        background        : -ms-linear-gradient(top,  #e75140 0%,#cb3e3e 100%);
        background        : linear-gradient(top,  #e75140 0%,#cb3e3e 100%);
        filter            : progid:DXImageTransform.Microsoft.gradient( startColorstr='#e75140', endColorstr='#cb3e3e',GradientType=0 );
        box-shadow        : inset 0 2px 5px 0 #bf2918;
        -moz-box-shadow   : inset 0 2px 5px 0 #bf2918;
        -webkit-box-shadow: inset 0 2px 5px 0 #bf2918;
        color             : #fff;
        text-shadow       : 0 -1px 0 rgba(0, 0, 0, 0.4);
         box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.2) inset, 0 1px 1px rgba(255, 255, 255, 0.8) inset, 1px 2px 2px -1px rgba(0, 0, 0, 0.3);
		-moz-box-shadow: 0 -1px 1px rgba(0,0,0,0.2) inset, 0 1px 1px rgba(255,255,255,0.8) inset, 1px 2px 2px -1px rgba(0,0,0,0.3);
		-webkit-box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.2) inset, 0 1px 1px rgba(255, 255, 255, 0.8) inset, 1px 2px 2px -1px rgba(0, 0, 0, 0.3);   
 } 
a.right_bt{
	float:right;
	color:#FFFFFF;
 }
a.left_nav{
	float:left;
	color:#FFFFFF; 
	text-align:center; 	
	font-size:14px; 
	font-weight:bold; 
	margin:0px 0 10px 0;
	text-shadow:1px 1px #085C8F;
 }
a.right_nav{
	float:right;
	color:#FFFFFF; 
	width:67px; 
	height:43px; 
	text-align:center; 
	background:url(../images/left_bt.png) no-repeat center; 
	line-height:43px; 
	font-size:14px; 
	font-weight:bold;  
	margin:0px 0 10px 0;
	text-shadow:1px 1px #085C8F;
 }
/* search */
.box{
	position:absolute;
	top:-200px;
	width:98%;
	color:#7F7F7F;
	margin:auto;
	padding:0px;
	z-index:999999;
	text-align:center;
	left:5px;
 }
.box_content_center{
	background-color:#3F3F3F;
	margin:0 8px 0 8px;
	color:#FFFFFF;
    -moz-border-radius-bottomleft:8px;
    -webkit-border-bottom-left-radius:8px;
    -khtml-border-bottom-left-radius:8px;
    -moz-border-radius-bottomright:8px;
    -webkit-border-bottom-right-radius:8px;
    -khtml-border-bottom-right-radius:8px;
 }
.box_content_tab{
	background-color:#171717;
	margin:0 8px 0 8px;
	color:#FFFFFF; 
	text-align:center;
    -moz-border-radius-topleft:8px;
    -webkit-border-top-left-radius:8px;
    -khtml-border-top-left-radius:8px;
    -moz-border-radius-topright:8px;
    -webkit-border-top-right-radius:8px;
    -khtml-border-top-right-radius:8px;
    border-bottom:1px #595959 solid;     
    padding:12px 0 12px 0; 
    font-size:18px;
 }
a.boxclose{
	cursor:pointer;
	color: #303030; 
	font-size:14px;
	padding:8px 12px; 
	font-weight:bold; 
	margin:20px 0px 20px 0; 
	text-align:center;
    display:block; 
    float:right;
        border            : 1px solid #8f8f8f;
        background        : #d7d7d7;
        background        : url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q3ZDdkNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhOGE4YTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background        : -moz-linear-gradient(top,  #d7d7d7 0%, #a8a8a8 100%);
        background        : -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d7d7d7), color-stop(100%,#a8a8a8));
        background        : -webkit-linear-gradient(top,  #d7d7d7 0%,#a8a8a8 100%);
        background        : -o-linear-gradient(top,  #d7d7d7 0%,#a8a8a8 100%);
        background        : -ms-linear-gradient(top,  #d7d7d7 0%,#a8a8a8 100%);
        background        : linear-gradient(top,  #d7d7d7 0%,#a8a8a8 100%);
        filter            : progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7d7d7', endColorstr='#a8a8a8',GradientType=0 );
        color             : #303030;
        text-shadow       : 1px 1px 0 rgba(255, 255, 255, 0.5);
         border-radius:5px;
	  -moz-border-radius:5px;
	  -webkit-border-radius:5px;
	   -o-border-radius:5px;   
	   box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.2) inset, 0 1px 1px rgba(255, 255, 255, 0.8) inset, 1px 2px 2px -1px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 -1px 1px rgba(0,0,0,0.2) inset, 0 1px 1px rgba(255,255,255,0.8) inset, 1px 2px 2px -1px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.2) inset, 0 1px 1px rgba(255, 255, 255, 0.8) inset, 1px 2px 2px -1px rgba(0, 0, 0, 0.3);
 }
 a.boxclose:hover{
 	border: 1px solid #8F8F8F;
	background: #D8D8D8;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #D8D8D8 0%, #C9C9C9 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#D8D8D8), color-stop(100%,#C9C9C9));
	background: -webkit-linear-gradient(top, #D8D8D8 0%,#C9C9C9 100%);
	background: -o-linear-gradient(top, #D8D8D8 0%,#C9C9C9 100%);
	background: -ms-linear-gradient(top, #D8D8D8 0%,#C9C9C9 100%);
	background: linear-gradient(top, #D8D8D8 0%,#C9C9C9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8d8d8', endColorstr='#c9c9c9',GradientType=0 );
 }
a.boxclose_right{
	cursor:pointer;
	color:#FFFFFF;  
	font-size:14px; 
	font-weight:bold; 
	margin:20px 25px 20px 0; 
	text-align:center;
    display:block; 
    float:right;
    text-shadow:1px 1px #085C8F;
 }
.form_content{
	padding:20px 15px 10px 15px; 
	text-align:left;
 }
.form_content label{ 
	font-size:16px; 
	font-weight:bold;
	line-height:28px;
 }
input.form_input_box{
	width:95%;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	-khtml-border-radius:8px; 
	background-color:#6F6F6F; 	
    border:1px #6D6D6D solid; 
    font-size:13px;
    padding:8px;
    color:#fff;
    outline:none;
 }
input.form_submit{
	cursor:pointer;
	color:#FFFFFF; 
	border:none; 
	font-size:14px; 
	font-weight:bold; 
	margin:22px 15px 20px 0;
	display:block; 
	float:right;
	font-family:Arial, Helvetica, sans-serif;
 }
.box_content h3{
	font-size:22px; 
	font-weight:normal; 
	padding:15px 0 10px 0; 
	margin:0px;
	color:#FFFFFF;
	text-shadow:1px 1px #085C8F;
 }
.logo{
	text-align:center;
	font-family: 'Baumans', cursive;
}
.logo h1{
	font-size:35px;
	color:#444;
}
.logo h2{
	padding-left:95px;
	font-size: 15px;
	color:#7C7D7D;
	margin-top: -3px;
}
.slider{
	border-top: 10px solid rgba(0, 0, 0, 0);
	border-bottom: 10px solid rgba(0, 0, 0, 0);
   -moz-border-image: url(../images/slider-border.png) 10 10 round;
   -webkit-border-image: url(../images/slider-border.png) 10 10 round;
    border-image: url(../images/slider-border.png) 10 10 round;
}
.main{
	background:#DFE0E2;
}
.content{
	padding:15px;
}
.content h2{ 
	font-size:23px;
	color:#2C2C2C;
	padding:5px 0;
	font-family: 'Baumans', cursive;
}
.content_top{
	padding:0;
}
.feature_works img{
	padding:3px;
	background:#FFF;
	border:1px solid #DBD4D4;	
}	
.content_bottom{
	padding-top:10px;
}
.content_bottom p{
	font-size:12px;
	color:#8F8F8F;
	line-height:1.6em;
}
.read-more{
	padding:10px 0;
}
.read-more  a{
	padding:5px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	font-size:12px;
	 border            : 1px solid #b93938;
        background        : #f45442;
        background        : url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y0NTQ0MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhMzMzMzEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background        : -moz-linear-gradient(top,  #f45442 0%, #a33331 100%);
        background        : -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f45442), color-stop(100%,#a33331));
        background        : -webkit-linear-gradient(top,  #f45442 0%,#a33331 100%);
        background        : -o-linear-gradient(top,  #f45442 0%,#a33331 100%);
        background        : -ms-linear-gradient(top,  #f45442 0%,#a33331 100%);
        background        : linear-gradient(top,  #f45442 0%,#a33331 100%);
        filter            : progid:DXImageTransform.Microsoft.gradient( startColorstr='#f45442', endColorstr='#a33331',GradientType=0 );
        color             : #fff;
        text-shadow       : 0 -1px 0 rgba(0, 0, 0, 0.4);  
}
.read-more a:hover{
	border            : 1px solid #b93a38;
        background        : #f55e4e;
        background        : url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y1NWU0ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMTQ2NDUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background        : -moz-linear-gradient(top,  #f55e4e 0%, #e14645 100%);
        background        : -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f55e4e), color-stop(100%,#e14645));
        background        : -webkit-linear-gradient(top,  #f55e4e 0%,#e14645 100%);
        background        : -o-linear-gradient(top,  #f55e4e 0%,#e14645 100%);
        background        : -ms-linear-gradient(top,  #f55e4e 0%,#e14645 100%);
        background        : linear-gradient(top,  #f55e4e 0%,#e14645 100%);
        filter            : progid:DXImageTransform.Microsoft.gradient( startColorstr='#f55e4e', endColorstr='#e14645',GradientType=0 );
        color             : #fff;
        text-shadow       : 0 -1px 0 rgba(0, 0, 0, 0.4);  
}
.content_bottom_left{
	
}
.content_bottom_left p{
	background:url(../images/welcome_list1.png) no-repeat -4px 5px;
	padding:5px 0 10px 40px;
	cursor:pointer;
}
.content_bottom_right{
	padding-top:20px;
}
.posts{
	padding:5px 0;
	border-bottom: 1px dashed #A8A7A7;
}
.date{
	float:left;
	width:16%;
}
.posts figure{
	font-weight:bold;
	font-size:10px;
	color:#E76560;
	text-align:center;
	border-right:1px solid #CECECE;
	padding-bottom:2px;
  }
.posts figure span{
	font-size:30px;
	 line-height:45px; 
	 color:#E76560;
	 display:block;
	 margin-bottom:-10px;
  }
  .post_desc{
	float:left;
    padding-left:10px;
    width:80%;
}
.posts_desc p{
	color:#7C7D7D;
	font-size:12px;
}
.footer{
	background:url(../images/footer_bg.jpg);
	border-bottom: 1px solid black;
}
.footer h3{
	font-size:18px;
	color: #A8A8A8;
	margin: 15px 0px;
	border-bottom: 1px solid #242424;
	padding-bottom:3px;
}
.footer_grides{
	padding:15px;
	border-bottom: 2px ridge #252525;
}
.footer_grid1{
	
}
.grid1_data{
	margin:15px 0;
}
.grid1_data p span{
	font-size:13px;
    color:#444;
    font-weight:bold;
    cursor:pointer;
    text-decoration:underline;
}
.grid1_data p span:hover{
	color:#666;
	text-decoration:none;
}
.grid1_desc h4{
	color:#3D3D3D;
	font-size:12px;
	font-weight:bold;
	cursor:pointer;
}
.grid1_desc h4:hover{
	color:#4B4B4B;
}
.grid1_desc p{
	color:#888686;
	font-size:12px;
	padding:5px 0;
	line-height:1.5em;
}
.footer_grid2{
	
}
.footer_grid2 p{
	font-size:12px;
	color:#888686;
	line-height:1.8em;
}
.footer_grid2 p a{
	font-size:13px;
	color:#666;
}
.footer_grid2 p a:hover{
	color:#B6B6B6;
}
.footer_grid3{
	
}
.f_menu li{
	display:inline;
	margin:15px 0;
}
.f_menu li a{
	padding:5px 4px;
	color:#888686;
	font-size:13px;
}
.f_menu li a:hover{
	color:#B6B6B6;
}
.footer_grid4{
	
}
.img_list li {
	display:inline;
	padding:0 7px;
} 
.img_list li a{
	font-size:13px;
	color:#888686;
	margin:0 3px;
}
.img_list li a:hover{
	color:#B6B6B6;
}
.img_list img{
	vertical-align:middle;
}
.f_bottom{
	border-top: 1px solid #1F1F1F;
	background:#111;
	padding:20px 0
}
.f_bottom p{
	text-align:center;
	color:#444;
	font-size:12px;
	margin-top:5px;
}
.f_bottom p a{
	text-decoration:none;
	color:#888686;
}
.f_bottom p a:hover{
	text-decoration:underline;
	color:#EEE;
}
.copy_right{
	text-align:center;
	padding:15px;
}
.copy_right p{
	font-size:12px;
	color:#444;
}
.copy_right p a{
	color:#555;
	font-size:12px;
	text-decoration:underline;
}
.copy_right p a:hover{
	color:#777;
	text-decoration:none;
}
/* About */
.wrapper{
	padding:10px;
	background:#FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
   border: 1px solid #DDDCDC;
}
.about_data{
	
}
.about_img img{
	padding:5px;
	background: #E6E4E4;
	border: 1px solid #DBDBDB;
	margin-top:5px;
}
.about_data p{
	font-size:12px;
	color:#9C9C9C;
	line-height:1.8em;
	padding:5px 0;
}
.about_list{
	padding:0;
}
.about_list li{
	font-size:12px;
	color:#E76560;
	padding:7px 20px;
	background:url(../images/about_list.png) no-repeat 0 8px;
	list-style:none;
	cursor:pointer;
}
.about_list li:hover{
	color:#636161;
}
.about_data span a{
	font-size:13px;
	font-weight:bold;
	color:#4d4d4d;
}
.about_data span a:hover{
	color:#E76560;
}
/* gallery */
.product{
	border:1px solid #E9E9E9;
	padding:5px;
	margin:5px 0px;
}
.product_desc{
	padding:5px;
}
.product_desc h3{
	font-size:14px;
	color:#E76560;
	font-weight:bold;
	padding-top:10px;
}
.product_desc p{
	font-size:12px;
	color:#9C9C9C;
	line-height:1.8em;
	padding:5px 0;
}
/* Services */
.services_desc{
	
}
.service_content{
	padding:5px 0;
}
.serv_img{
	float:left;
}
.serv_data{
	float:left;
	width:80%;
	padding-left:10px;
}
.serv_data h4{
	font-size:12px;
	color:#EE7974;
	font-weight:bold;
}
.serv_data p{
	font-size:13px;
	color:#9C9C9C;
	line-height:1.8em;
	padding:5px 0;
}
.sidebar{
	
}
.sidebar_top{
	padding:10px 0;
}
.services_list li{
	font-size:12px;
	color:#8F8F8F;
	padding:8px 18px;
	background:url(../images/service_list.png) no-repeat 0 10px;
	list-style:none;
	cursor:pointer;
}
.services_list li:hover{
	color:#E76560;
}
/* contact us */
.feedback{
    padding-bottom:25px;
    position:relative;
}
form label{
	font-size:13px;
	color:#8F8F8F;
}
.feedback form input[type="text"],.feedback textarea{
	padding:5px;
	font-size:13px;
	margin-bottom:6px;
	margin-top:5px;
    display:block;
	width:95%;
	background:none;
	border: 1px solid #d8d8d8;
	outline:none;
	color:#666147;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.05) inset;
   -moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.05) inset;
   -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.05) inset;
    font-family:Arial, Helvetica, sans-serif;
    -webkit-appearance:none;		
}
.feedback textarea{
	resize:none;
	height:100px;		
}
 .feedback form input[type="text"]:focus,.feedback textarea:focus{ 
    border: 1px solid #c4c2c2;  
}
.feedback form input[type="submit"]{
       -moz-border-radius:3px;
		-webkit-border-radius:3px;
		border-radius:3px;
		-moz-box-shadow: 0 1px 3px rgba(119, 119, 119, 0.67);
		-webkit-box-shadow: 0 1px 3px rgba(119, 119, 119, 0.67);
		box-shadow: 0 1px 3px rgba(119, 119, 119, 0.67);
		background:#E93A34 url(../images/large-button-overlay.png) repeat-x;
		border: 1px solid #BE3333;
    cursor:pointer;
    font-size:12px;
    padding:6px 10px;
    position:absolute;
    right:0px;
    bottom:-5px;
    color:#FFF;
    -webkit-apperance:none;
}
.feedback form input[type="submit"]:hover{
       background:#D13631;
}
.map{
	border:1px solid #DDD;
}
.address li{
	font-size:12px;
	color:#8F8F8F;
	margin:5px 0;
	list-style-type:none;	
}
.address li span{
	font-weight:bold;
}