/*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body {
	 font-family: "Arial",Helvetica, sans-serif;
	 font-size: 13px;
	 color: #555;
}
.wrap{
	padding:10px;
	margin: 0 auto;
}
.header-bg{
	background: rgb(40,33,67); /* Old browsers */
}
.logo{
	text-align: center;	
}
.menu-bg{
	background: rgb(56,47,83); /* Old browsers */
}
.drp-dwn{
	display: inline-block;
	width: 100%;
	position: relative;
	top: 0px;
}
.drp-dwn select {
	padding: 4px;
	outline: none;
	display: block !important;
	width: 100%;
	border: 1px solid rgb(97, 48, 121);
	background: rgba(159, 131, 201,0.66); 
	color: #fff;
	cursor: pointer;
}
/*images style*/
.slider-bg{
	padding:0px 0 0px;
	border-bottom:6px solid #463265;
	background: rgb(14,11,22); /* Old browsers */
}
.image-container{
	padding:0px 10px;
	text-align:center;
}
/*content-bg*/
.content-bg{
	background: rgb(152,156,203); /* Old browsers */
}
.content{
	background: #ffffff;
}
.grid{
	text-align:center;
	padding: 10px;
}
.grid:nth-child(1){
	background: #8667F7;
	border-bottom: 1px solid #fff;
}
.grid:nth-child(2){
	background:#16CAD6;
	border-bottom: 1px solid #fff;
}
.grid:nth-child(3){
	background: #036EFC;
}
h2,h3{
	padding-bottom:4px;
	text-transform:capitalize;
	color: #fff;
	font-size:18px;
}
.grid p{
	color: #fff;
}
.main{
	float: left;
	padding: 10px;
}
.main h2{
	color: rgb(183, 98, 250);
}
/*button-style*/
.main-txt a{
	color: #555;
}
.main-txt a,.main-txt1 a,.contact-form form input[type="button"]{
	cursor:pointer;
	padding: 4px 20px 4px;
	background:rgb(209, 183, 253);
	border: 1px solid rgba(222, 163, 255, 0.37);
	color:#fff;
}
.main-txt a:hover,.main-txt1 a:hover,.btn input[type="submit"]:hover,.btn input[type="button"]:hover,.contact-form form input[type="button"]:hover{
	color: #fff;
	background:rgba(113, 70, 180, 0.57);
}
.btm{
	padding:0px 0 15px;
}
/*footer*/
.footer-bg{
	background: #231826;
}
.left{
	float: left;
}
.right{
	float:right;
}
.f-list li a ,.f-list p{
	font-size: 0.9em;
	color:#CACDF0;
	vertical-align: top;
}
.f-list li a:hover ,.right a:hover{
	color: rgb(104, 84, 155);
	text-decoration:underline;
}
p.left,.right a{
	color:rgb(125, 111, 163);
}
/*table-form*/
.table-form{
	padding:4px 0px;
}
.table-form form input[type="text"] {
	background:rgba(234, 203, 255, 0.37);
	border: none;
	outline: none;
	padding: 8px;
	color:rgba(255, 255, 255, 0.48);
	overflow: hidden;
	width:92%;
	margin-bottom:10px;
}
.btn input[type="submit"],.btn input[type="button"]{
	cursor:pointer;
	padding: 8px 20px;
	background: rgb(124, 95, 173);
	border: 1px solid rgba(121, 79, 145, 0.82);
	color:#fff;
}
.btn input[type="submit"]:hover,.btn input[type="button"]:hover{
	color: #eee;
	background: rgba(205, 176, 250, 0.5);
}
/*footer1*/	
.ftr-bg{
	background: #1B1320;
}
.footer p.w3-link {
	text-align: center;
	color: rgb(104, 84, 155);
	font-size: 0.9em;
}
.footer p.w3-link a {
	color:#fff;
	text-decoration: none;
	font-size: 13px;
}
.footer p.w3-link a:hover{
	text-decoration:underline;
}
/*About*/
.about{
	float:left;
	padding:10px;
}
.about h2,.service h2,.main-txt1 h3{
	color:rgb(183, 98, 250);
}
.main-txt1{
	margin-bottom: 10px;
}
/*services*/
.service{
	padding: 10px;
}
.service h4{
	text-transform:capitalize;
	font-size: 18px;
}
.service h4.span span a{
	color: rgb(183, 98, 250);
}
.service h4.span span a:hover{
	color:rgb(169, 92, 184);
}
.main-txt1 h3{
	font-size:18px;
}
.main-txt1 span{
	font-size: 12px;
}
/*Contact*/
.contact{
	padding: 10px;
}
.contact h2{
	color: rgb(183, 98, 250);
}
table{
	width:100%;
}
.map{
	background:#fff;
	border:1px solid #aaa;
	font-size:12px;
}
.contact-form input[type="text"]{
	background: #ffffff;
	width:91%;
	border: 1px solid #dedede;
	outline:none;
	padding: 8px;
	margin-top:10px;
	color:#666;
	overflow:hidden;
}
.contact-form textarea{
	font-family: 'Monda', sans-serif;
	width:91%;
	height:100px;
	padding: 8px;
	margin-top:10px;
	border: 1px solid #dedede;
	outline:none;
	color:#666;
	resize:none;
	background: #ffffff;
}
.contact-form input[type="submit"]{
	margin: 30px 0px 20px 380px;
}
/*contact-form*/
.contact-form-r{
	float:left;
}
.contact-form form{
	background:none;
}
.contact-form form input[type="button"]{
	cursor:pointer;
	font-size:13px;
	padding:6px 30px;
}
